body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	background-color: beige;
}
  
html {
height: -webkit-fill-available;
}

main {
height: 100vh;
height: -webkit-fill-available;
max-height: 100vh;
overflow-x: auto;
overflow-y: visible;
}

hr
{
	color:chocolate;
	margin-top: 2rem;
	margin-bottom:2rem;
	opacity:0.75;
}

ul {
	list-style: none;
}

#niceToKnow
{
	list-style: inside;
	margin-left: 20px;
}

li {
	padding-top: 2px;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
padding: .25rem .5rem;
font-weight: 600;
color: rgba(0, 0, 0, .65);
background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
color: rgba(0, 0, 0, .85);
background-color: #d2f4ea;
}

.btn-toggle::before {
width: 1.25em;
line-height: 0;
content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
transition: transform .35s ease;
transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
transform: rotate(90deg);
}

.btn-toggle-nav a {
padding: .1875rem .5rem;
margin-top: .125rem;
margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
background-color: #d2f4ea;
}

.scrollarea {
overflow-y: auto;
}

.contentscale
{
	width: 90%;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}

.appartementdiv
{
	width: 80%;
}

.service-icons
{
	width: 128px;
	height: 128px;
	color: #424242;
}

.card{
	width:9rem;
	background-color: beige;
	border:none;
}

.card-title
{
	text-align: center;
}

.Appartements-Info
{
	width: 70%;
	text-align: justify;
}

.Appartements-Preisliste
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.nav-link:hover
{
	background-color: chocolate;
	color:bisque;
}

.nav-link
{
	color:beige;
	font-size: 1.2em;
}

#menu
{
	background-color: #660000;
}

#haus-rosenegg
{
	color:beige;
}

#rose-icon
{
	width: 90px;
	height: 128px;
	color: beige;
}

#services
{
	width: 60%;
	margin-left:auto;
	margin-right: auto;
}

.Zimmer
{
	width: 100%;
}

#winter-image
{
	width: 80%;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 20px;
}

#summer-image
{
	width: 80%;
	margin-left: auto;
	margin-right:auto;
}

#kontakt
{
	width: 50%;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}